* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn {
  padding: 0.5rem;
  background-color: rgb(57, 65, 181);
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  min-width: 10rem;
  margin-top: 1rem;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  border-top: solid 1px black;
}

.container {
  width: 50rem;
  border: solid 1px black;
  margin: 10rem auto;
  padding: 1rem 0rem;

}

.main {
  padding-bottom: 1rem;
}

.list{
    margin-left: 5rem;
}